@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
.menu_site-footer, .site-header__menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sponsors-section a .sponsors-section_logo {
  max-height: 50px;
  width: auto;
}

.site-footer .social-media_icons img {
  max-height: 25px;
  width: auto;
}

.news-section__wrapper .news-card__content, .news-section__highlights_content, .hero-section__content {
  background-color: var(--white-color);
  padding: 3rem;
  box-shadow: 0px 1px 10px rgba(41, 41, 41, 0.05);
  max-width: 95%;
  position: relative;
  z-index: 1;
  margin-top: -10%;
}

.calltoaction-section .calltoaction-card__content {
  color: var(--black-color);
  padding: 3rem;
  box-shadow: 0px 1px 10px rgba(41, 41, 41, 0.05);
  position: relative;
  margin-top: -5%;
}

.events-section__wrapper .event-card__content, .events-section__wrapper .event-card__teaser {
  background-color: var(--white-color);
  padding: 2rem;
  box-shadow: 0px 1px 10px rgba(41, 41, 41, 0.05);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--text-font);
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

main {
  display: block !important;
  margin-top: 117px;
}

input {
  border: none;
  outline: none;
  font-family: var(--text-font);
}

a {
  text-decoration: none;
}

:root {
  --title-font: "Poppins", sans-serif;
  --text-font: "Roboto", sans-serif;
  --primary-color: #fc247c;
  --secondary-color: #04a354;
  --terciary-color: #61ce70;
  --background-color: #f6f6f6;
  --background-color_secondary: #555555;
  --dark-background-color: #33373d;
  --white-color: #fff;
  --black-color: #000;
  --bodytext-size: 1rem;
  --headingtext-size: 1.875rem;
  --margin-content-S: 0.75rem 0 1.75rem 0;
  --margin-content-M: 1.25rem 0 2.25rem 0;
  --margin-content-L: 2rem 0 2.25rem 0;
  --margin-section: 5rem;
  --transition-effect: all 0.3s ease-in-out;
  --underline-transition-effect: border-bottom-width 0.1s ease;
}

.site-header__menu {
  display: flex;
  gap: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--title-font);
  font-size: var(--navtext-size);
}
.site-header__menu li a {
  transition: var(--transition-effect);
  color: var(--black-color);
  text-decoration: none;
  word-spacing: 0.1em;
}
.site-header__menu li a:hover {
  color: var(--primary-color);
}
.site-header__menu .search-tool svg:hover {
  fill: var(--primary-color);
  transition: var(--transition-effect);
}
@media screen and (max-width: 1183px) {
  .site-header__menu .menu__item-remove {
    display: none;
  }
}
@media screen and (max-width: 959px) {
  .site-header__menu .menu__item-remove {
    display: initial;
  }
}
@media screen and (max-width: 960px) {
  .site-header__menu {
    position: fixed;
    width: 0%;
    height: 100vh;
    flex-direction: column;
    gap: 2rem;
    background: var(--primary-color);
    top: 0;
    right: -100%;
    padding: 10rem 1rem 10rem 2.5rem;
    transition: var(--transition-effect);
    opacity: 0;
    z-index: 1;
  }
  .site-header__menu.active {
    right: 0;
    width: 350px;
    opacity: 1;
  }
  .site-header__menu li a {
    color: var(--white-color);
    font-size: 1rem;
  }
  .site-header__menu li a:hover {
    color: var(--black-color);
  }
  .site-header__menu .search-tool svg {
    fill: var(--white-color);
  }
  .site-header__menu .search-tool svg:hover {
    fill: var(--black-color);
  }
}

.menu_site-footer {
  font-weight: 700;
  flex-wrap: wrap;
  font-size: var(--bodytext-size);
}
.menu_site-footer a {
  color: var(--black-color);
  text-decoration: none;
  line-height: 2.25em;
}

.btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 2px;
  border: 2px solid var(--primary-color);
  display: inline-block;
  padding: 0.75rem 2rem;
  font-family: var(--title-font);
  font-size: var(--bodytext-size);
  font-weight: 700;
  cursor: pointer;
  transition: var(--transition-effect);
}
@media screen and (max-width: 960px) {
  .btn_nav {
    margin: 0 2rem 0 auto;
  }
}
.btn svg path,
.btn img {
  transition: var(--transition-effect);
}
.btn:hover {
  color: var(--black-color);
}
.btn:hover svg path {
  fill: var(--black-color);
}
.btn:hover img {
  filter: invert(1);
}
.btn_icon {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
}
.btn_donationForm {
  background-color: var(--black-color);
  border: 2px solid var(--black-color);
}
.btn_donationForm:hover {
  color: var(--primary-color);
}
.btn__simple {
  font-family: var(--title-font);
  font-size: var(--bodytext-size);
  color: var(--black-color);
  border-bottom: 2px solid var(--primary-color);
  transition: var(--underline-transition-effect);
}
.btn__simple_secondary {
  border-bottom: 2px solid var(--secondary-color);
  color: var(--white-color);
}
.btn__simple:hover {
  border-bottom-width: 4px;
}
.btn_forms {
  font-size: 12px;
  padding: 0.5rem 1rem;
}
.btn_fixed {
  width: 175px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}
.container-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-heading {
  font-size: 1.75rem;
}

.main-subheading {
  margin-bottom: 2.75rem;
  font-size: 1.75rem;
}
.main-subheading span {
  color: var(--primary-color);
  font-size: 2rem;
}

.subheading {
  font-size: 1.5rem;
}

.subheading_h4 {
  font-size: 1.125rem;
}

.hero-paragraph {
  line-height: 1.75rem;
}

p {
  line-height: 1.5rem;
}

.site-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem 0;
  background: var(--white-color);
  z-index: 9999;
  transition: var(--transition-effect);
  box-shadow: 0px 1px 10px rgba(41, 41, 41, 0.2);
}
.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header__logo {
  width: 100px;
  max-width: 100%;
  height: auto;
}
.site-header__hamburger {
  display: none;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.site-header__hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.site-header__hamburger.active span:nth-child(2) {
  opacity: 0;
}
.site-header__hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.site-header__hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  margin: 0.375rem auto;
  background: var(--black-color);
}
@media screen and (max-width: 960px) {
  .site-header__hamburger {
    display: block;
    z-index: 2;
  }
  .site-header__hamburger.active span {
    background: var(--white-color);
  }
  .site-header nav.active {
    display: block;
  }
}

.hero-section img {
  width: 100%;
}
.hero-section #hero-img_desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-section #hero-img_desktop {
    display: block;
  }
  .hero-section #hero-img_mobile {
    display: none;
  }
}
.hero-section__content {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-top: -13%;
}
@media screen and (max-width: 869px) {
  .hero-section__content {
    gap: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .hero-section__content {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.hero-section__content_left p {
  margin-top: 1.75rem;
  max-width: 100%;
}
.hero-section__content_right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-section__content_right form {
  max-width: 410px;
  min-width: 310px;
  padding: 2rem 1rem;
  background-color: var(--secondary-color);
}
.hero-section__content_right form .donation-inputfield {
  background-color: var(--white-color);
  font-size: 1.75rem;
  font-family: var(--title-font);
  margin-bottom: 25px;
  padding-left: 0.5rem;
}
.hero-section__content_right form .donation-inputfield input {
  font-size: 1.25rem;
}
.hero-section__content_right form .donation-inputfield input[type=number]::-webkit-inner-spin-button, .hero-section__content_right form .donation-inputfield input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calltoaction-section {
  margin-top: var(--margin-section);
}
.calltoaction-section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 960px) {
  .calltoaction-section__wrapper {
    flex-direction: row;
    gap: 2rem;
  }
}
.calltoaction-section .calltoaction-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 310px;
  max-width: 380px;
}
.calltoaction-section .calltoaction-card:nth-child(2) {
  margin: 2.25rem 0;
}
.calltoaction-section .calltoaction-card__icon {
  max-height: 90px;
  width: auto;
  z-index: 1;
}
.calltoaction-section .calltoaction-card__content {
  background-color: var(--background-color_secondary);
  color: var(--white-color);
}
.calltoaction-section .calltoaction-card__content p {
  margin: var(--margin-content-M);
}

.news-section {
  margin-top: var(--margin-section);
  margin-bottom: var(--margin-section);
}
.news-section__highlights {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news-section__highlights_content p {
  margin: var(--margin-content-M);
}
.news-section__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 2rem;
  margin-top: 4rem;
}
@media screen and (min-width: 960px) {
  .news-section__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}
.news-section__wrapper .news-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news-section__wrapper .news-card__content p {
  margin: var(--margin-content-S);
}

.events-section {
  margin-bottom: var(--margin-section);
}
.events-section__wrapper {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.events-section__wrapper .event-card p {
  margin: var(--margin-content-L);
}
@media screen and (min-width: 950px) {
  .events-section__wrapper .event-card {
    display: flex;
  }
}
.events-section__wrapper .event-card__teaser {
  display: flex;
  flex-direction: column;
}
.events-section__wrapper .event-card__teaser .event_img {
  max-width: 350px;
}
.events-section__wrapper .event-card__content {
  background-color: var(--background-color_secondary);
  color: var(--white-color);
}
.events-section__wrapper .event-card__content .event-card__details {
  display: flex;
  gap: 0.5rem;
  font-size: 0.875rem;
  align-items: center;
}
.events-section__wrapper .event-card__content .event-location {
  margin: 0.75rem 0;
}
.events-section__wrapper .event-card .event-date {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-family: var(--title-font);
}
.events-section__wrapper .event-card .event-date .date-separation {
  width: 1.75rem;
  border-bottom: 2px solid var(--primary-color);
}
.events-section__wrapper .event-card .event-date .day {
  font-size: 1.25rem;
}

.site-footer {
  background-color: var(--dark-background-color);
}
.site-footer p {
  margin-bottom: 1.5rem;
}
.site-footer .container-sections {
  padding: 3rem 2rem 0.5rem 2rem;
  color: var(--white-color);
}
@media screen and (min-width: 639px) {
  .site-footer .container-sections {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 961px) {
  .site-footer .container-sections {
    display: flex;
  }
}
.site-footer .footer-subsections {
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 961px) {
  .site-footer .footer-subsections {
    min-width: 310px;
  }
}
.site-footer .menu_site-footer a {
  color: var(--white-color);
  font-size: 1.125rem;
  transition: var(--transition-effect);
}
.site-footer .menu_site-footer a:hover {
  color: var(--primary-color);
}
.site-footer_heading {
  font-size: 1.125rem;
}
.site-footer__search {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 639px) {
  .site-footer__social {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }
}
@media screen and (min-width: 961px) {
  .site-footer__social {
    display: flex;
    flex-direction: column;
  }
}
.site-footer__social .newsletter_form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 2rem;
}
.site-footer__social .newsletter_form #newsletter-email {
  padding: 0.5rem;
  max-width: 150px;
}
.site-footer .social-media_icons {
  display: flex;
  gap: 2rem;
}
.site-footer .social-media_icons img {
  filter: invert(100%);
  transition: var(--transition-effect);
}
.site-footer .social-media_icons img:hover {
  filter: invert(0%);
}
.site-footer__calltoactions {
  display: flex;
  flex-direction: column;
}

.sponsors-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.25rem 2rem 3rem 2rem;
  gap: 0.75rem;
}
@media screen and (max-width: 600px) {
  .sponsors-section {
    flex-direction: column;
    gap: 2rem;
  }
}
.sponsors-section a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .sponsors-section a .sponsors-section_logo {
    max-height: 40px;
  }
}