.site-header__menu {
	@extend %reset-list;
	display: flex;
	gap: 1.25rem;
	text-transform: uppercase;
	font-weight: 700;
	font-family: var(--title-font);
	font-size: var(--navtext-size);

	

	li a {
		transition: var(--transition-effect);
		color: var(--black-color);
		text-decoration: none;
		word-spacing: 0.1em;

		&:hover {
			color: var(--primary-color);
		}
	}
	.search-tool svg:hover {
		fill: var(--primary-color);
		transition: var(--transition-effect);
	}

	& .menu__item-remove {
		@media screen and (max-width: 1183px) {
			display: none;
		}
		@media screen and (max-width: 959px) {
			display: initial;
		}
	}

	@media screen and (max-width: 960px) {
		position: fixed;
		width: 0%;
		height: 100vh;
		flex-direction: column;
		gap: 2rem;
		background: var(--primary-color);
		top: 0;
		right: -100%;
		padding: 10rem 1rem 10rem 2.5rem;
		transition: var(--transition-effect);
		opacity: 0;
		z-index: 1;

		&.active {
			right: 0;
			width: 350px;
			opacity: 1;
		}

		li a {
			color: var(--white-color);
			font-size: 1rem;
			&:hover {
				color: var(--black-color);
			}

			
		}
		.search-tool svg {
			fill: var(--white-color);

			&:hover {
				fill: var(--black-color);
			}
		}
	}
}

.menu_site-footer {
	@extend %reset-list;
	font-weight: 700;
	flex-wrap: wrap;
	font-size: var(--bodytext-size);

	a {
		color: var(--black-color);
		text-decoration: none;
		line-height: 2.25em;
	}
}
