.menu {
	@extend %reset-list;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	text-transform: uppercase;
	font-weight: 700;
	font-family: var(--title-font);
	flex-wrap: wrap;

	@media screen and (min-width: 768px) {
		flex-direction: row;
		}

	a {
		color: var(--black-color);
		text-decoration: none;
		word-spacing: 0.1em;

		&:hover {
			color: var(--primary-color);
		}
	}
}
