.events-section {
	margin-bottom: var(--margin-section);

	&__wrapper {
		display: flex;
		gap: 2rem;
		flex-direction: column;

		.event-card {
			p {
				margin: var(--margin-content-L);
			}
			@media screen and (min-width: 950px) {
				display: flex;
			}
			&__teaser {
				@extend %content-layout-events;
				display: flex;
				flex-direction: column;
				.event_img {
					max-width: 350px;
				}
			}
			&__content {
				@extend %content-layout-events-colored;
				.event-card__details {
					display: flex;
					gap: 0.5rem;
					font-size: 0.875rem;
					align-items: center;
				}
				.event-location {
					margin: 0.75rem 0;
				}
			}
			.event-date {
				display: flex;
				flex-direction: column;
				font-weight: 700;
				font-family: var(--title-font);

				.date-separation {
					width: 1.75rem;
					border-bottom: 2px solid var(--primary-color);
				}

				.day {
					font-size: 1.25rem;
				}
			}
		}
	}
}
