.site-header__nav-mobile {
  width: 80px;
  background-color: var(--white-color);
  height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  right: -160px;
  transition: transform 0.5s;
}
@media screen and (min-width: 768px) {
  .site-header__nav-mobile {
    display: none;
  }
}
.site-header__nav-mobile .hamburger {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50px;
  width: 50px;
  align-items: center;
  z-index: 5;
}
.site-header__nav-mobile .hamburger .bar1,
.site-header__nav-mobile .hamburger .bar2,
.site-header__nav-mobile .hamburger .bar3 {
  background-color: var(--black-color);
  width: 36px;
  height: 4px;
  margin: 3px;
  border-radius: 10px;
}
.site-header__nav-mobile .hamburger:hover {
  cursor: pointer;
}
.site-header__nav-mobile .hamburger .openDrawer {
  transform: translateX(-160px);
}
.site-header__nav-mobile .hamburger .animateBar1 {
  animation: flipBar1 1s forwards;
}
.site-header__nav-mobile .hamburger .animateBar2 {
  animation: fadeBar2 1s forwards;
}
.site-header__nav-mobile .hamburger .animateBar3 {
  animation: flipBar3 1s forwards;
}
@keyframes flipBar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}
@keyframes flipBar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}
@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(1);
    opacity: 0;
  }
}
@media screen and (min-width: 768px) {
  .site-header__nav-mobile .hamburger .hamburguer {
    display: none;
  }
}

.site-header {
  padding: 1.25rem 2rem;
}
.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.site-header__logo {
  width: 100px;
}
.site-header__nav {
  display: flex;
  align-items: center;
}