%reset-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

%sponsorslogo {
	max-height: 50px;
	width: auto;
}

%medialogo-Small {
	max-height: 25px;
	width: auto;
}

%content-layout {
	background-color: var(--white-color);
	padding: 3rem;
	box-shadow: 0px 1px 10px rgba(41, 41, 41, 0.05);
	max-width: 95%;
	position: relative;
	z-index: 1;
	margin-top: -10%;
}

%content-layout-uncolored {
	color: var(--black-color);

	padding: 3rem;
	box-shadow: 0px 1px 10px rgba(41, 41, 41, 0.05);
}
%content-layout-events {
	background-color: var(--white-color);
	padding: 2rem;
		box-shadow: 0px 1px 10px rgba(41, 41, 41, 0.05);
}
