:root {
	--title-font: 'Poppins', sans-serif;
	--text-font: 'PT Sans', sans-serif;

	--primary-color: #fc247c;
	--secondary-color: #04a354;
	--terciary-color: #61ce70;
	--background-color: #f6f6f6;
	--dark-background-color: #33373d;
	--white-color: #fff;
	--black-color: #000;

	--bodytext-size: 1rem;
	--headingtext-size: 1.875rem;

	--p-line-height: 1.5rem;

	--margin-content-S: 0.75rem 0 1.75rem 0;
	--margin-content-M: 1.25rem 0 2.25rem 0;
	--margin-section: 5rem;

	--transition-effect: all 0.3s ease-in-out;
	--underline-transition-effect: border-bottom-width 0.1s ease;
}
