:root {
  --title-font: "Poppins", sans-serif;
  --text-font: "PT Sans", sans-serif;
  --primary-color: #FC247C;
  --secondary-color: #04A354;
  --terciary-color: #61CE70;
  --white-color: #fff;
  --black-color: #000;
}